* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.card {
    width: 18rem;
    box-shadow: 0 0 4px black;
    padding: 1.5em;
    margin-bottom: 2em;
}


#red {
    height: 75px;
    width: 75px;
    margin-left: -100px;
}

.gap {
    display: flex;
    width: 80%;
    margin-left: 100px;
}