/* .container{
    background-color: blueviolet; */
/* h1{
    background-color: rgb(128, 128, 177);
    color: brown;
}
p{
    background-color: rgb(128, 128, 177);
    color: rgb(12, 12, 12);
    font-family:Arial, Helvetica, sans-serif
    
}
h3{
    background-color: rgb(128, 128, 177);
    color: red;

}
button{
    background-color: rgb(128, 128, 177);
    color: red;
}
.nav{
display:flex ;
justify-content: center;
background-color: aqua;
color: red;
} */ */