


#red{
    height: 80px;
    width: 80px;
    margin-left: -100px;
}
.gap{
    display: flex;
    width: 80%;

    
}
.d-flex{
    margin-right: -70px;
    /* padding: 20px,10px,10px,20px; */
}
#hg{
width: auto;
height: auto;

}
#sty{
    background-color: blueviolet;
    height: 0%;
    width: 1420px;
    border-radius: 10px;

}
.navbar-brand{
    /* border: 2px solid black; */
    margin-left: 20px;

}
.card{
    margin-top: 20px;
}
.card-body{

    background-color: rgb(66, 66, 156);
}
.card-title{
    background-color: aqua;
}