h1{
    background-color: blue;
    color: brown;
}
p{
    background-color: blue;
    color: red;
    font-family:Arial, Helvetica, sans-serif
}
h3{
    background-color: blue;
    color: red;

}
button{
    background-color: blue;
    color: red;
}
.nav{
display:flex ;
justify-content: center;
background-color: aqua;
color: red;
}